<div class="modal-body" style="min-height: 50px">
    {{ "sucursalTranslate.deseaDescartar" | translate }}
</div>
<div class="modal-footer" style="height: auto; display: flex">
    <button type="button" class="buttonEstiloBlanco" style="max-width: 120px; height: 40px;" (click)="cancelBack()">
        {{ "sucursalTranslate.cancelar" | translate }}
    </button>
    <button type="button" class="buttonEstiloBlanco" style="max-width: 120px; height: 40px;" (click)="passBack()">
        {{ "sucursalTranslate.si" | translate }}
    </button>
</div>