<div class="container" style="height: 100%; overflow: auto;">
    
    <div>
        <br>
        <b> POLÍTICA DE PRIVACIDAD </b>
        <p>
            <b>
                Bookipp 
            </b>
        </p>
        <p>
            Última actualización: 3 de Agosto 2023
        </p>

        <p>
            La presente Política de Privacidad establece los términos en que Bookipp usa y protege la
            información que es proporcionada por sus usuarios al momento de utilizar su aplicación móvil.
            Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le
            pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo
            hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin
            embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
            recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de
            acuerdo con dichos cambios.
        </p>

        <br>
        <b> Información que es recogida </b>
        <p>
            Nuestra aplicación podrá recoger información personal por ejemplo: Nombre, información de
            contacto como su dirección de correo electrónico, numero telefónico e información demográfica.
            Podrá elegir iniciar sesión a través de Facebook, cuando lo haga podríamos recabar datos
            personales que haya proporcionado a dicho servicio de redes sociales según su consentimiento y
            según sea permitido en los Términos de Uso de Facebook, tales como su dirección de correo
            electrónico, nombre, fecha de nacimiento y teléfono.
        </p>
        <p>
            Cuando descargas, instalas y utilizas nuestra aplicación, podemos solicitar tu consentimiento 
            para acceder a la siguiente información:
        </p>
        <p>
            Calendario: Solicitamos acceso a la información de tu calendario únicamente para establecer citas 
            y recordatorios dentro de nuestra aplicación. No accedemos a, recopilamos, utilizamos ni compartimos 
            ninguna otra información adicional de tu calendario con terceros.
        </p>

        <br>
        <b> Uso de la información recogida </b>
        <p>
            Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
            particularmente para mantener un registro de usuarios, de citas, y mejorar nuestros servicios. Es
            posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con
            ofertas especiales, nuevos servicios y otra información publicitaria que consideremos relevante
            para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la
            dirección que usted proporcione y podrán ser cancelados en cualquier momento desde la
            aplicación.
        </p>
        <p>
            La información del calendario que obtenemos se utilizará exclusivamente dentro de la aplicación para 
            los fines establecidos, es decir, para establecer citas y recordatorios solicitados por ti. No utilizaremos 
            esta información con fines comerciales ni la compartiremos con terceros, salvo en los casos en que la ley 
            lo requiera o cuando obtengamos tu consentimiento expreso.
        </p>
        <p>
            Bookipp está altamente comprometido para cumplir con el compromiso de mantener su
            información segura. Usamos los sistemas más avanzados y los actualizamos constantemente
            para asegurarnos que no exista ningún acceso no autorizado.
        </p>

        <br>
        <b> Enlaces a Terceros </b>
        <p>
            Esta aplicación pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez
            que usted de clic en estos enlaces y abandone nuestra aplicación, ya no tenemos control sobre al
            sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la
            protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias
            políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted
            está de acuerdo con estas.
        </p>
        
        <br>
        <b> Control de su información personal </b>
        <p>
            En cualquier momento usted puede restringir la recopilación o el uso de la información personal
            que es proporcionada a nuestra aplicación. Cada vez que se le solicite rellenar un formulario,
            como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo
            electrónico en la configuración de la aplicación.
        </p>
        <p>
            Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su
            consentimiento, salvo que sea requerido por un juez con un orden judicial.
            Bookipp Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
            cualquier momento.
        </p>

        <br>
        <p>
            Bookipp Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
            cualquier momento.
        </p>
    </div>


    <div>
        <br>
        <br>
        <br>
        <b> PRIVACY POLICY </b>
        <p>
            <b>
                Bookipp 
            </b>
        </p>
        <p>
            Last updated: August 3, 2023
        </p>

        <p>
            This Privacy Policy sets out the terms under which Bookipp uses and protects the information provided
            by its users when using its mobile application. This company is committed to ensuring the data security
            of its users. When we ask you to fill in fields of personal information that can identify you, we do so
            while ensuring that it will only be used in accordance with the terms of this document. However, this
            Privacy Policy may change over time or be updated, so we recommend and emphasize that you
            continuously review this page to ensure that you agree to any such changes.
        </p>

        <br>
        <b> Information collected </b>
        <p>
            Our application may collect personal information, such as your Name, contact information like your
            email address, phone number, and demographic information. You may choose to log in through Facebook,
            in which case we may collect personal data you have provided to that social media service with your
            consent and as permitted by Facebook's Terms of Service, such as your email address, name, date of
            birth, and phone number.
        </p>
        <p>
            When you download, install, and use our application, we may request your consent to access the following
            information:
        </p>
        <p>
            Calendar: We request access to your calendar information solely for the purpose of setting appointments
            and reminders within our application. We do not access, collect, use, or share any additional calendar
            information with third parties.
        </p>

        <br>
        <b> Use of collected information </b>
        <p>
            Our website uses the information to provide the best possible service, particularly to maintain a record
            of users, appointments, and improve our services. Periodically, we may send emails through our site with
            special offers, new services, or other advertising information that we consider relevant to you or that
            may benefit you. These emails will be sent to the address you provide and can be canceled at any time
            through the application.
        </p>
        <p>
            The calendar information we obtain will be used exclusively within the application for the established
            purposes, namely, to set up appointments and reminders requested by you. We will not use this
            information for commercial purposes or share it with third parties, except where required by law or with
            your express consent.
        </p>
        <p>
            Bookipp is highly committed to fulfilling the commitment to keep your information secure. We use the most
            advanced systems and constantly update them to ensure that there is no unauthorized access.
        </p>

        <br>
        <b> Third-party links </b>
        <p>
            This application may contain links to other sites that may be of interest. Once you click on these links
            and leave our application, we no longer have control over the site you are redirected to, and therefore
            we are not responsible for the terms or privacy practices or the protection of your data on those other
            third-party sites. Such sites are subject to their own privacy policies, so it is advisable to check them
            to confirm that you agree to them.
        </p>
        
        <br>
        <b> Control of your personal information </b>
        <p>
            At any time, you can restrict the collection or use of personal information provided to our application.
            Each time you are asked to fill out a form, such as the user registration form, you can check or uncheck
            the option to receive information by email in the application settings.
        </p>
        <p>
            This company will not sell, assign, or distribute the personal information collected without your consent,
            except as required by a judge with a court order.
            Bookipp reserves the right to change the terms of this Privacy Policy at any time.
        </p>

        <br>
        <p>
            Bookipp reserves the right to change the terms of this Privacy Policy at any time.
        </p>
    </div>

</div>