.mat-column-acciones {
    min-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.mat-column-nombre {
    min-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.mat-column-telefono {
    min-width: 100px;
    text-align: center;
}

.mat-column-email {
    min-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}