<div class="container">

	<div id="header">
        <img id="Image1" src="https://gallery.mailchimp.com/d5fcf8980c2e0a8e50cef6e33/images/6df73955-7134-44f7-9d7e-98e082813db7.png"  style="width: 40%;height: 100%;"/>
    </div>
    
    <div id="vista">
        <div id="titulo">
            ¡Confirmación de correo exitosa!
        </div>
        <div id="iconos">
            <i class="fa fa-check icon" aria-hidden="true"></i>
        </div>

        <div id="subtitulo">
            Ahora que el correo esta verficado podrás hacer citas desde la aplicación de bookipp
        </div>

    </div>

</div>