.barSearch {
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px auto;
  height: 30px;

  input {
    border: none;
    flex-grow: 1;
    width: 100%;
    outline: none;
  }
}

.inputCalenderSelect {
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 1px solid #b7c4c9;
  border-radius: 1.5rem;
  text-align: center;
}

::ng-deep {
  ngx-daterangepicker-material {
    & {
      .md-drppicker {
        width: 600px !important;
      }
    }
  }
}
