.fillAzulBookipp{
    fill:#20c4e6;
}

.strokeAzulBookipp{
    fill: none;
    stroke:#20c4e6;
}

.fillAzulReemplazoBookipp{
    fill:#20c4e6;
}

.strokeAzulReemplazoBookipp{
    fill: none;
    stroke:#20c4e6;
}

.itemActiveCircle {
    background-color: #20c4e6;
}

@media screen and (max-width: 991px){
    .modAnchoDdl{
        width: 80%;
    }
}