<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <div style="width: 100%; display: flex;">
            <mat-card-title> {{'consultaCambioTipoTranslate.tipoCambio' | translate}} </mat-card-title>                        
            <mat-icon id="btnNuevo" class="iconosBookipp mx-2" svgIcon="iconAgregar" (click)="nuevo()" *ngIf="accesosPantalla.accionTipoCambio == 1" matListIcon style="cursor: pointer; width: 30px; height: 30px; position: relative; left: -5px;"></mat-icon>        
        </div>
    
        <div style="text-align: right; width: 100%;">
            <mat-icon class="iconosBookipp" svgIcon="iconCasa1" (click)="irAAgenda()" style="cursor: pointer; height: auto; position: relative;"></mat-icon>
            <a style="cursor: pointer; color: #20c4e6; top: -6px; position: relative;" (click)="irAAgenda()">{{'consultaCambioTipoTranslate.inicio' | translate}}</a>
            <mat-icon class="iconosBookipp" svgIcon="iconFlecha1DerechaPeque" style="position: relative;"></mat-icon>
            <a style="color: #20c4e6; top: -6px; position: relative;">{{'consultaCambioTipoTranslate.tipoCambio' | translate}}</a>&nbsp;        
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content style="margin-top: 10px;">

        <div class="row mx-auto mt-3">
            <!-- <div class="row">
                <div class="col-md-3" style="height: 50px;">
                    <a (click)="nuevo()" *ngIf="accesosPantalla.accionTipoCambio == 1" class="btn btn-success">{{'consultaCambioTipoTranslate.nuevo' | translate}}</a>
                </div>
            </div> -->

            <div class="col-lg-12 overflow-auto">
                <div class="mat-elevation-z8 my-2" style="min-width: 700px;">
                        <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
                                            
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{consultaCambioTipoTranslate.acciones | translate}}</th>
                                <td mat-cell *matCellDef="let element" style="color:#337dc0;text-align: center;" class="auto-width">
                                    <!-- Icono Editar -->                                    
                                    <mat-icon svgIcon="iconEditar" 
                                        *ngIf="accesosPantalla.accionTipoCambio == 1" 
                                        (click)="actualizar(element.idCambioTipo)"
                                        class="iconosBookipp" 
                                        matListIcon 
                                        style="font-size: 1.2em; cursor:pointer; width:29px;">
                                    </mat-icon>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="monto">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef style="text-align: center;">{{consultaCambioTipoTranslate.monto | translate}}</th>
                                <td mat-cell *matCellDef="let element" class="auto-width">                                                        
                                    {{element.monto}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tipoMoneda">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef style="text-align: center;">{{consultaCambioTipoTranslate.tipoMoneda | translate}}</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;" class="auto-width">                                                        
                                    {{element.mdescripcion}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="monedaBase">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef style="text-align: center;">{{consultaCambioTipoTranslate.monedaBase | translate}}</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;" class="auto-width">                                                        
                                    {{ element.esMonedaBase ? consultaCambioTipoTranslate.si : consultaCambioTipoTranslate.no }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="activa">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef style="text-align: center;">{{consultaCambioTipoTranslate.activa | translate}}</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;" class="auto-width">                                                        
                                    {{element.estaActivo ? consultaCambioTipoTranslate.si : consultaCambioTipoTranslate.no }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>                    

                        </table>  
                    </div>
                </div>
        </div>                      
    </mat-card-content>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200]" showFirstLastButtons aria-label="Facebook">
    </mat-paginator>

</mat-card>

<!-- Modal Alert-->
<div id="modal-alert" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade modal-alert" style="z-index: 500000">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 0 auto; font-weight: 400; max-width: 800px; min-height: 115px;">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="col-lg-3">
                    <button type="button" (click)="modales.modalAlert.hide()" class="buttonEstiloBlanco" style="height: auto;">
                        {{'consultaCambioTipoTranslate.aceptar' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirm-->
<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade modal-confirm" style="z-index: 500000">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 0 auto; font-weight: 400; max-width: 800px; min-height: 115px;">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="col-lg-3">
                    <button type="button" (click)="modales.modalConfirm.hide()" class="buttonEstiloBlanco" style="height: auto;">
                        {{'consultaCambioTipoTranslate.cancelar' | translate}}
                    </button>
                </div>
                <div class="col-lg-3">
                    <button type="button" (click)="modales.modalConfirm.hide()" class="buttonEstiloBlanco" style="height: auto;">
                        {{'consultaCambioTipoTranslate.si' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
